* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/pattern.jpg);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Halvetica Neue', sans-serif;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.3;
	overflow-x: hidden;
}

a {
	color: #4e4e4e;
	font-weight: 600;
	text-decoration: none;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar nav {
	display: flex;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.navbar nav ul {
	display: flex;
	list-style: none;
	width: 20%;
	justify-content: space-around;
}

.navbar ul li a {
	font-size: 0.8em;
	text-decoration: none;
}

.navbar .logo img {
	width: 200px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: 70px auto;
	max-width: 780px;
	padding: 40px;
	justify-content: center;
}

.article {
	flex: 70%;
	padding: 35px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, .08);
	margin: 25px auto;
}

.article.self {
	min-width: 740px;
	line-height: 1.8;
}


.article.self ul { list-style: none; }

.article h3 {
	margin: 10px 0 20px;
}

.article p {
	font-size: 18px;
	line-height: 1.5;
}

form {
	font-size: 18px;
}

form input[type=text],
form input[type=email],
form textarea {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px 10px;
	min-width: 210px;
}

button {
	background-color: #204c79;
	border: none;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
	min-width: 90px;
}

/* Responsive Area */
@media screen and (max-width: 768px) {
	.navbar nav ul {
		font-size: 16px;
		width: 50%;
	}

}

@media screen and (max-width: 564px) {
	.logo img { 
		width: 140px !important;
	}
	
	.article.self {
		min-width: 74vw;
	}

	form { max-width: 300px; }
	form input[type=text],
	form input[type=email],
	form textarea { min-width: 180px; }

	form textarea { max-width: 180px; }
}